{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block title %}<title>关于我 - {{ SITE_NAME }}</title>{% endblock %}

{% block left_content %}
    <div class="l_box f_l" style="margin-top: -7px">
    <div class="tit01">
        <h3>关注我</h3>
        <div class="gzwm">
            <ul>

<li><a class="github" href="https://github.com/Yahkun" target="_blank">Github</a></li>
<li><a class="twitter" href="https://twitter.com/yahkunding" target="_blank">Twitter</a></li>
<li><a class="linkedin" href="https://www.linke.com">LinkedIn</a></li>
<li><a class="email" href="mailto:yahkun@foxmail.com">Email</a></li>
<li><a class="weibo" href="https://weibo.com/u/3608838621/">Weibo</a></li>
<li><a class="rss" href="#" target="_blank">RSS</a></li>

            </ul>
        </div>
    </div>
    <div>
<script src='//w.segmentfault.com/card/1030000011438646.js?w=0&3rd=0&bg=0&bd=DDDDDD&cl=333333&btn=009a61&noBtn=0'></script>
    </div>
    </div>
{% endblock %}