{% load staticfiles %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    {% include "blog/favicon.html" %}
    {% block title %}{% endblock %}
    <meta name="keywords" content="{{ SITE_NAME }}"/>
    <meta name="description" content="{{ SITE_DESC }}"/>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
    {% block custom_css %}{% endblock %}
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sliders.js' %}"></script>
    <!--[if lt IE 9]>
    <script src="js/modernizr.js"></script>
    <![endif]-->
    {% block custom_js %}{% endblock %}
</head>

<body>
<header id="header">
{% include 'blog/body-header-title.html' %}
{% include 'blog/body-header-nav.html' %}
</header>
<article>
    <div class="l_box f_l">
        {% block left_content %}{% endblock %}
    </div>
    <div class="r_box f_r">
        <div class="tit01 hide">
{#            <h3>关注我</h3>#}
{#            <div class="gzwm">#}
{#                <ul>#}
{#                    <li><a class="xlwb" href="#" target="_blank">新浪微博</a></li>#}
{#                    <li><a class="txwb" href="#" target="_blank">腾讯微博</a></li>#}
{#                    <li><a class="rss" href="portal.php?mod=rss" target="_blank">RSS</a></li>#}
{#                    <li><a class="wx" href="mailto:yahkun@foxmail.com">邮箱</a></li>#}
{#                </ul>#}
{#            </div>#}
        </div>
        <!--tit01 end-->
        <div class="moreSelect" id="lp_right_select">
            <script>
                window.onload = function () {
                    var oLi = document.getElementById("tab").getElementsByTagName("li");
                    var oUl = document.getElementById("ms-main").getElementsByTagName("div");

                    for (var i = 0; i < oLi.length; i++) {
                        oLi[i].index = i;
                        oLi[i].onmouseover = function () {
                            for (var n = 0; n < oLi.length; n++) oLi[n].className = "";
                            this.className = "cur";
                            for (var n = 0; n < oUl.length; n++) oUl[n].style.display = "none";
                            oUl[this.index].style.display = "block"
                        }
                    }
                }
            </script>
            <div class="ms-top">
                <ul class="hd" id="tab">
                    <li class="cur"><a href="/">浏览排行</a></li>
                    <li><a href="/">评论排行</a></li>
                    <li><a href="/">站长推荐</a></li>
                </ul>
            </div>
            <div class="ms-main" id="ms-main">
                <div style="display: block;" class="bd bd-news">
                    <ul>
                        {% for article in article_click_list %}
                            <li>
                                <a href="{% url 'article' article.id %}" target="_blank">{{ article.title | slice:':15' }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="bd bd-news">
                    <ul>
                        {% for article in article_comment_list %}
                            <li><a href="{% url 'article' article.id %}" target="_blank">{{ article.title | slice:':15' }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="bd bd-news">
                    <ul>
                        {% for article in article_recommend_list %}
                            <li><a href="{% url 'article' article.id %}" target="_blank">{{ article.title | slice:':15' }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!--ms-main end -->
        </div>
        <!--切换卡 moreSelect end -->

        <div class="cloud">
            <h3 style="margin-top: 10px">标签云</h3>
            <ul>
                {% for tag in tags %}
                    <li><a href="{% url "tags" tag.name %}">{{ tag.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="tuwen">
            <h3 style="margin-bottom: 0;">文章归档</h3>
            <ul>
                {% for archive in archive_list %}
                    <li>
                        <p>
                            <span class="tutime font-size-18">&nbsp;
                                <a href='{% url 'archive' %}?year={{ archive | slice:":4" }}&month={{ archive | slice:"5:7" }}'>{{ archive }}</a>
                            </span>
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="links">
            <h3 style="margin-bottom: 0;">友情链接</h3>
            <ul>
                {% for link in links %}
                    <li><a href="{{ link.callback_url }}" target="_blank">{{ link.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <!--r_box end -->
</article>
<footer id="footer">
    <div class="ft-copyright footer-bottom">
        <span class="fb-text">2015-2018</span>
        <span class="delimeter"></span>
        <span class="fb-text">Build by</span>
        <a href="https://yahkun.github.io">亚坤</a>
        <span class="delimeter"></span>
        <span class="fb-text">Powered by</span>
        <a href="https://www.python.org">Python</a>
        <span class="fb-text">and</span>
        <a href="https://www.djangoproject.com">Django</a>
    </div>
    <div id="tbox">
        <a id="togbook" href=""></a>
        <!-- I need some magic -->
        <a id="gotop" href="#header"></a>
    </div>
</footer>
</body>
</html>
